<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
  <%- include ../../layoutParts/head.ejs %>

  <body class="hold-transition sidebar-mini layout-fixed">
    <!-- navbar -->
    <%- include ../../layoutParts/navbar.ejs %>
    <!-- sidebar -->
    <%- include ../../layoutParts/sidebar.ejs %>
    <!-- content wrapper -->
    <div class="content-wrapper">
      <!-- main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">Selamat datang, <%= username %></div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- footer -->
    <%- include ../../layoutParts/footer.ejs %>
    <!-- js -->
    <%- include ../../layoutParts/js.ejs %>
  </body>
</html>
