<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
  <%- include ../../layoutParts/head.ejs %>

  <body>
    <!-- navbar -->
    <%- include ../../layoutParts/navbar.ejs %>
    <!-- sidebar -->
    <%- include ../../layoutParts/sidebar.ejs %>
    <!-- body -->
    <%- body %>
    <!-- footer -->
    <%- include ../../layoutParts/footer.ejs %>
    <!-- js -->
    <%- include ../../layoutParts/js.ejs %>
  </body>
</html>
